.create-tweet{
    width: 566px;
    height: 112px;
    padding: 4px 0px;
    display: flex;
    padding:0px 16px;
    position: relative;
    top:0px;
}
.create-tweet .account{
    width: 48px;
    height: 108px;
    margin-right: 12px;
    padding: 4px 0px 0px 0px;
}
.account .account-icon{
    width: 48px;
    height: 48px;
    /* float: left; */
    background-position: center;
    background-size: contain;
    background-image: url(https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;

}
.create-tweet .tweet-content{
    width: 506px;
    height: 108px;
    padding: 4px 0px 0px 0px;
    /* display: block; */
}
.tweet-content .tweet-content-box {
    width:502px;
    height: 52px;
    border: solid ;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0);
}
.tweet-content-box .tweet-text{
    width:502px;
    height: 28px;
    font-size: 15px;
    font:inherit;
    padding: 12px 0px;
    border:none;
    outline: none;
}
.tweet-content .tweet-feature{
    width:502px;
    height: 52px;
    margin: 0px 2px;
    position: relative;
}
.tweet-feature .list-tweet-icon{
    width:188px;
    height: 40px;
    margin-top:12px;
    position:absolute;
    display: flex;
}
.list-tweet-icon .item-icon{
    width:38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width:22px;
    height: 22px;
    color: rgb(29, 161, 242);
    fill: currentColor;
}
.item-icon:hover {
    cursor: pointer;
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 9999px;
    color: rgb(29, 161, 242);
}
.tweet-feature .btn-create-tweet{
    float: right;
    width: 44.08px;
    height: 40px;
    background-color: rgb(29, 161, 242);
    margin: 12px 0px 0px 12px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;

}
.btn-create-tweet .btn-create-tweet-text{
   font: inherit;
   font-size: 15px;
   font-weight: 700;
   color: #fff;
}