<div class="container-follow">
    <div class="header-title-follow">
        <div class="header-title-follow-text font-weight-800">Who to follow</div>
    </div>
    <div class="container-content-follow">
        <div class="content-list-follow">
            <div class="user-avatar">
                <div class="icon-user-avatar border-radius-avatar"></div>
                <div class="user-name">
                    <div class="user-name-text">
                        <div class="full-name font-size-15 font-weight-700">aaaaaaaaa</div>
                        <div class="nick-name font-size-15">bbbbbbbbbbbbb</div>
                    </div>
                    <div class="btn-follow">
                        <div class="btn-follow-box">
                            <div class="btn-follow-text font-size-15 font-weight-700">Follow</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-list-follow">
            <div class="user-avatar">
                <div class="icon-user-avatar border-radius-avatar"></div>
                <div class="user-name">
                    <div class="user-name-text">
                        <div class="full-name font-size-15 font-weight-700">aaaaaaaaa</div>
                        <div class="nick-name font-size-15">bbbbbbbbbbbbb</div>
                    </div>
                    <div class="btn-follow">
                        <div class="btn-follow-box">
                            <div class="btn-follow-text font-size-15 font-weight-700">Follow</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-follow font-size-15">
            Show more
        </div>
    </div>
</div>