<div class="container-topic-follow">
    <div class="header-title-topic-follow">
        <div class="header-title-follow-text font-weight-800">Who to follow</div>
    </div>
    <div class="container-content-topic-follow">
        <div class="content-list-topic-follow">
            <div class="topic-item">
                <div class="topic-item-text">
                    <div class="name-topic font-size-15 font-weight-700">aaaaaaaaa</div>
                    <div class="description-topic font-size-15">bbbbbbbbbbbbb</div>
                </div>
                <div class="btn-topic-follow">
                    <div class="btn-topic-follow-box">
                        <div class="btn-topic-follow-text font-size-15 font-weight-700">Follow</div>
                    </div>
                    <div class="btn-cancel-box">
                        <div class="btn-cancel-follow">
                            <svg viewBox="0 0 24 24" aria-hidden="true" class="style-icon"><g><path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g></svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-list-topic-follow">
            <div class="topic-item">
                <div class="topic-item-text">
                    <div class="name-topic font-size-15 font-weight-700">aaaaaaaaa</div>
                    <div class="description-topic font-size-15">bbbbbbbbbbbbb</div>
                </div>
                <div class="btn-topic-follow">
                    <div class="btn-topic-follow-box">
                        <div class="btn-topic-follow-text font-size-15 font-weight-700">Follow</div>
                    </div>
                    <div class="btn-cancel-box">
                        <div class="btn-cancel-follow">
                            <svg viewBox="0 0 24 24" aria-hidden="true" class="style-icon"><g><path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-follow font-size-15">
            Show more
        </div>
    </div>
</div>